{% extends 'admin.html.twig' %}

{% block title %}Nouveau Club{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5">Ajouter un nouveau club</h1>
        {{ include('admin/club/_form.html.twig') }}
        <div class="text-right mt-5">
            <a class="btn btn-secondary" href="{{ path('admin_club_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
