{% extends 'base.html.twig' %}

{% block title %}Marque{% endblock %}

{% block body %}
    <section class="brand">
        <div class="container">
            <h1 class="text-center mt-5">Marques</h1>
        </div>
    </section>
{% endblock %}