{% block footer %}
<footer class="bg-secondary text-center text-lg-start mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-8">
                <p>
                    Vous pouvez retrouver le blog du monocycle sur Facebook ainsi que le groupe Yuni Cycle sur Strave
                </p>
                <p>
                    Site web développer lors du checkpoint 4 pour la wild Code School
                </p>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="col">
                    <a href="https://www.facebook.com/monocycle.blog" class="text-dark"><img class="logo" src="{{ asset('build/images/facebook.png') }}" alt="Logo facebook"></a>
                </div>
                <div class="col">
                    <a href="https://www.strava.com/clubs/Yuni" class="text-dark"><img class="logo" src="{{ asset('build/images/strava.png') }}" alt="Logo strava"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        2020 - Wild Code School
    </div>
</footer>
{% endblock %}
