{% extends 'base.html.twig' %}

{% block title %}Discipline index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-5">Discipline</h1>
        <div class="row mt-5">
            <div class="col text-center">
                <p>Cette section regroupe les différentes disciplines du monocycle</p>
            </div>
        </div>
        {% for discipline in disciplines %}
            <div class="reverse row mt-5">
                <img class="img col-4 p-0" src="{{ asset('uploads/discipline/' ~ discipline.picture) }}" alt="Image club">
                <div class="col-7 offset-1">
                    <h2>{{ discipline.name }}</h2>
                    <p class="mt-3">{{ discipline.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
