@import 'app.scss';

.logo {
  border-radius: $border-radius-logo;
  background-color: $dark;
}

.caroussel-picture {
  width: $admin-picture;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.custom-file-input ~ .custom-file-label:lang(fr)::after {
  content: "Parcourir...";
}