@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carouselPicture{
    object-fit: cover;
}

img {
    position: relative;
    object-fit: cover;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}