@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: $spacing-3;
}

.carouselPicture{
    object-fit: cover;
}

.img {
    position: relative;
    object-fit: cover;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.reverse:nth-child(2n) {
    flex-direction: row-reverse;
}