$primary: #057dcd;
$secondary: #43b0f1;
$dark: #1e3d58;
$light: #e8eef1;
$text-font-size: 1rem;
$h1-font-size: 4rem;
$h2-font-size: 2.5rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1.2rem;
$spacing: 8px;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 4;
$spacing-4: $spacing * 8;
$spacing-5: $spacing * 16;
$border-radius: 8px;
$box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
