{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center mt-5">
        <button class="btn btn-secondary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
